html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding-bottom: 25px;

    justify-content: center;
    align-items: center;
    background-color: #DDDDFC;

}

.btn {
    border-radius: .5rem;
    border-color: #3F1469;
    background-color: #E8DEFF;
    --bs-btn-color: #3F1469;
    height: 40px;
    box-shadow: none;
    max-height: max-content;
    -webkit-text-fill-color: #2b003d;


}

button:hover {
    background-color: #E7E7FC; /* цвет кнопки при наведении мыши */
}

.container-md{
    justify-content: center;
    place-content: center;
    align-content: center;
}
