bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
APIServer/appsettings.Development.json
.idea/.idea.FelineX/.idea/dataSources.xml
APIServer/appsettings.Development.json
.idea/.idea.FelineX/.idea/dataSources.xml
APIServer/appsettings.Development.json
