@page "/"
@* @rendermode InteractiveServer *@
@* @inherits CookieCheck *@
@inject NavigationManager nav

<h3>We're working</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        // nav.NavigateTo("/my_tests");
    }
}