@page "/my_tests"


<a>Тесты</a>


<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Название</th>
        <th scope="col">Дата создания</th>
        <th scope="col">Кол-во заданий</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var testData in testDataList)
    {
        <tr>
            <th scope="row">@testData.Id</th>
            <td>@testData.Name</td>
            <td>@testData.Date</td>
            <td>@testData.TaskCount</td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-secondary m-1 btn-transparent" style="background-color: transparent; border: 0px">
                        <i class="bi bi-link-45deg" style="color: #0a58ca" title="Менеджер ссылок"></i>
                    </button>
                    <button type="button" class="btn btn-secondary m-1 " style="background-color: transparent; border: 0px">
                        <i class="bi bi-pencil-square" style="color: #0a58ca" title="Изменить"></i>
                    </button>
                    <button type="button" class="btn btn-secondary m-1 btn-transparent" style="background-color: transparent; border: 0px">
                        <i class="bi bi-trash3 " style="color: #0a58ca" title="Удалить"></i>
                    </button>

                </div>
            </td>
        </tr>
    }
    </tbody>
</table>


@code {

    public class TestData
    {
        public int Id { get; set; }
        public string Name { get; set; }
        public string Date { get; set; }
        public int TaskCount { get; set; }
    }

    List<TestData> testDataList = new List<TestData>();

    protected override void OnInitialized()
    {
        // Генерация тестовых данных и заполнение списка
        for (int i = 1; i <= 10; i++)
        {
            testDataList.Add(new TestData
            {
                Id = i,
                Name = "Name" + i,
                Date = "Date" + i,
                TaskCount = 20 + 10 * i // Пример увеличения количества заданий для каждой строки
            });
        }
    }

}