@page "/profile"

@rendermode InteractiveServer
@inject NavigationManager nav


<h1 class="text-center" style="font-size: 21px; justify-content: center ">Мой профиль, @userId</h1>
<div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col col-lg-6 mb-4 mb-lg-0" >
        <div class="card mb-3" style="border-radius: .5rem; border-color: #672C94; background-color: #EFF4FF">
            <div class="row g-0">
                <div class="col-md-4 gradient-custom text-center"
                     style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                         alt="Avatar" class="img-fluid my-5" style="width: 80px;"/>
                </div>
                <div class="col-md-8 justify-content-center" style="-webkit-text-fill-color: #00003A ">
                    <div class="card-body p-5">
                        <h5>Бабаева</h5>
                        <p>@acces, @userId</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-outline-primary" style="border-radius: .5rem; border-color: #00003A; background-color: #EFF4FF; --bs-btn-color: #00003A;  box-shadow: none;" type="button" @onclick="cringe">  Выход  </button>
        </div>
        <div>
            
        </div>
        
    </div>
</div>

@code {
    public string userId { get; set; }
    
    private int acces { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        Console.WriteLine("OnInitializedAsync profile");
    }


    private void cringe()
    {
        nav.NavigateTo("/auth");
    }

}