@page "/"

<h1>Мы любим котиков, но и не против тaнцующих енотов</h1>
    <div class="Sticker" style="width: 104px; height: 104px; display: flex; justify-content: flex-end"><img src="images/preloader.gif" alt="Danser enot" style="max-width: 104px; background-color: unset;"></div>

<h3>We're working</h3>


