<?xml version="1.0" encoding="utf-8"?>

<menu xmlns:android="http://schemas.android.com/apk/res/android">
    <item
            android:id="@+id/nav_game"
            android:icon="@drawable/icon1"
            android:title="Игра" />
    <item
            android:id="@+id/nav_home"
            android:title="FelineX" />
    <item
            android:id="@+id/nav_my_tests"
            android:title="Мои тесты" />
    <item
            android:id="@+id/nav_classes"
            android:title="Классы" />
    <item
            android:id="@+id/nav_profile"
            android:icon="@drawable/profile"
            android:title="Профиль" />
</menu>
