<div>
       <input type="text" @bind="TestLink" placeholder="Введите id теста" @onkeydown="KeyboardEventHandler"
              style="background-color: #EFF4FF; border-color: #BDD3FF; box-shadow: none; width: 200px;">
       <button @onclick="NavigateToTest" style="background-color: #EFF4FF; border-color: #BDD3FF;">Go</button>
</div>

@code {
       [Inject] private NavigationManager _navigationManager { get; set; }
       private string TestLink = "";
       
       private async void KeyboardEventHandler(KeyboardEventArgs args)
       {
              if (args.Key == "Enter")
                     NavigateToTest();
       }
       
       private void NavigateToTest()
       {
              if (!string.IsNullOrWhiteSpace(TestLink))
              {
                     _navigationManager.NavigateTo($"Test/{TestLink}");
                     TestLink = "";
              }
       }
}