@page "/my_tests"
@using WebApp.Services
@using MyTest = Shared.DB.Classes.Test.Test;
@inject NavigationManager nav
@inject ApiService _ApiService

@rendermode InteractiveServer





<div class="d-grid gap-2 d-md-flex justify-content-md-center" style="height: 40px; -webkit-text-fill-color: #00003A">
    <button class="btn btn-outline-primary"  style="border-radius: .5rem; border-color: #00003A; background-color: #EFF4FF; --bs-btn-color: #00003A; height: 40px;  box-shadow: none;" type="button" @onclick="Navigate_to_create_test">  Создать новый тест  </button>
</div>
<div class="text-success" style="border-color:  #00003A; height: 1px">
      <hr>
    </div>

<div>
    <h2 class="text-left">Тесты</h2>
    <h1>   </h1>
</div>


<table class="table table-borderless table-responsive" size="auto" style="--bs-table-bg: #DDEBFF; border-radius: .5rem;  -webkit-text-fill-color: #00003A">
    <thead>
    <tr>
        <th scope="col" style=" -webkit-text-fill-color: #00003A; border-radius: .5rem">#</th>
        <th scope="col" style="-webkit-text-fill-color: #00003A">Название</th>
        <th scope="col" style="-webkit-text-fill-color: #00003A">Дата создания</th>
        <th scope="col" style=" -webkit-text-fill-color: #00003A">Кол-во заданий</th>
        <th scope="col" style="-webkit-text-fill-color: #00003A"></th>
    </tr>
    </thead>
    <tbody>
    @if (tests != null)
    {
        foreach (var test in tests)
        {
            <tr>
                <th scope="row">@test.Id</th>
                <td >@test.TestName</td>
                <td >@test.CreationTime.ToString()</td>
                <td >@test.Tasks.Count</td>
                <td >
                    <div class="btn-group" role="group" aria-label="Basic example" style=" box-shadow: none;">
                        <button type="button" class="btn btn-secondary m-1 btn-transparent" style="background-color: transparent; border: 0px">
                            <i class="bi bi-link-45deg" style="color: #00003A;  box-shadow: none;" title="Менеджер ссылок"></i>
                        </button>
                        <button type="button" class="btn btn-secondary m-1 " style="background-color: transparent; border: 0px;  box-shadow: none;">
                            <i class="bi bi-pencil-square" style="color: #00003A;  box-shadow: none;" title="Изменить" @onclick="() => Navigate_to_test(test.Id.ToString())"></i>
                        </button>
                        <button type="button" class="btn btn-secondary m-1 btn-transparent" style="background-color: transparent; border: 0px;  box-shadow: none;">
                            <i class="bi bi-trash3 " style="color: #00003A;  box-shadow: none;" title="Удалить"></i>
                        </button>

                    </div>
                </td>
            </tr>
        }
    }
    else
    {
        <p>идешь нахуй</p>
    }

    </tbody>
</table>


@code {

    List<MyTest> tests = new List<MyTest>();
    protected override async Task OnInitializedAsync()
    {
        base.OnInitializedAsync();
        
        try
        {
            tests = await _ApiService.GetTests();
            
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            throw;
        }
        await InvokeAsync(StateHasChanged);
    }
    
    private void Navigate_to_create_test()
    {
        nav.NavigateTo("/Create_test");
    }
    
    private void Navigate_to_test(string testId)
    {
        nav.NavigateTo($"/test/{testId}");
    }

    

}