@page "/result_test/{AnweredTestId}/"
@using Shared.DB.Classes.User
@using WebApp.Services
@using Shared.Extensions
@inject ApiService _ApiService
@inject ILogger<Result_test> _logger

<h3 class="text-center">Ваши результаты</h3>
<h3 class="text-center">@Score</h3>

@code {

    [Parameter] public string AnweredTestId { get; set; }
    private double? Score { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        try
        {
            Score = await _ApiService.GetTestResult(AnweredTestId.ToGuid());
        }
        catch (Exception e)
        {
            _logger.LogError($"Exception while getting test results with id {AnweredTestId}:{e}");
        }

        Console.Write("");
    }

}