@page "/create_class"
@attribute [Authorize, AuthorizeLevel(AccessLevel.Teacher)]

@using Shared.DB.User

<h3 class="text-center">Новый класс</h3>

<div class="input-group input-group-lg" style="max-width: max-content">
    <input type="text" class="form-control" placeholder="Введите название" aria-label="Введите название" aria-describedby="basic-addon1"  style="background-color: #EFF4FF; box-shadow: none; ">
</div>

 <div class="d-grid gap-2 d-md-flex justify-content-md-start" style="height: 40px; -webkit-text-fill-color: #00003A; box-shadow: none;">
        <button class="btn"  type="button" >
            Сохранить
        </button>
    </div>



@code {

    
}