@page "/create-class"
@using Shared.DB.Classes.User
@inherits WebAssembly.Components.CookieCheck
<h3 class="text-center">Новый класс</h3>

@code {

    public Create_class()
    {
        RequiredAccessLevel = AccessLevel.Teacher;
    }
    
}