@page "/my_classes"
@attribute [Authorize, AuthorizeLevel(AccessLevel.Teacher)]


@using Shared.DB.User
@using Shared.Interfaces
@inject NavigationManager nav
@inject ApiService _ApiService
@inject IUserContextService _userContext

@inject NavigationManager _navigationManager
 <link rel="stylesheet" href="./css/class.css">
 <div  class="container-center" >
     <button class="btn"  type="button"   @onclick="NavigateToCreateClass"> Создать новый класс </button>
 </div>
 
<div class="text-success" style="border-color:  #00003A; height: 1px">
    <hr>
</div>


<h3>Мои классы</h3>

<table class="table table-borderless table-responsive" size="auto" >
    <thead>
    <tr>
        <th scope="col" style=" border-radius: .5rem;"></th>
        <th scope="col">Название</th>
        <th scope="col">Кол-во человек</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    @if(MyClasses != null){ @foreach (var group in MyClasses)
    {
        <tr>

            <th scope="row">@group.Id</th>
            <td>@group.GroupName</td>
            <td>
                @if (group.Students != null)
                {
                    @group.Students.Count
                }
            </td>
            <td >
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-secondary m-1 btn-transparent" style="background-color: transparent; border: 0px">
                        <i class="bi bi-link-45deg" style="color: #00003A" title="Менеджер ссылок"></i>
                    </button>
                    <button type="button" class="btn btn-secondary m-1 " style="background-color: transparent; border: 0px">
                        <i class="bi bi-pencil" style="color: #00003A" title="Изменить"></i>
                    </button>
                    <button type="button" class="btn btn-secondary m-1 btn-transparent" style="background-color: transparent; border: 0px">
                        <i class="bi bi-trash3 " style="color: #00003A" title="Удалить"></i>
                    </button>

                </div>
            </td>
        </tr>
    }}
   
    </tbody>
</table>


@code {

    private List<UserGroup>? MyClasses { get; set; } = [];

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        MyClasses = await _ApiService.GetClasses();
    }
    
    private void NavigateToCreateClass()
    {
        _navigationManager.NavigateTo("/create_class");
    }

}