@inject IJSRuntime JSRuntime

<div id="editor" style="height: 400px; width: 100%;"></div>

@code {
    private IJSObjectReference? _module;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _module = await JSRuntime.InvokeAsync<IJSObjectReference>("import", "./Components/AceEditor.razor.js");
            await _module.InvokeVoidAsync("AceEditor.initialize");
        }
    }
    
    public async ValueTask DisposeAsync()
    {
        if (_module != null)
        {
            await _module.DisposeAsync();
        }
    }
}