@inherits LayoutComponentBase
<!DOCTYPE html>
<html lang="en">
<div class="page" style="background-color: #DDEBFF; min-height: 100vh">


        <main>
            <div class="navbar"> <NavMenu/> </div>
            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>

</html>