@using Blazored.Toast.Configuration
@inherits LayoutComponentBase
<!DOCTYPE html>
<html lang="en">

<div class="page">

    <main>
        <div class="navbar"> <NavMenu/> </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
<BlazoredToasts Position="ToastPosition.BottomCenter"
                Timeout="5"
                IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                SuccessIcon="fa fa-thumbs-up"
                ErrorIcon="fa fa-bug" />

</html>