      
        <ul class="nav" style="max-height: 45px">
            <li class="nav-item">
                <a class="nav-link " aria-disabled="true">
                    <button style="border: none; background: none; padding: 0; cursor: pointer;" onclick="location.href='/game'">
                        <img class="img-fluid my-5 logo" src="images/icon1.png" alt=""  style="max-height: 40px"/>
                    </button>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " aria-disabled="true" href="/" style="font-size: x-large">
                    FelineX
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " aria-current="page" href="/my_tests">Мои тесты</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/my_classes">Классы</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/profile">Профиль</a>
            </li>

        </ul>



@code {
    private string TestId { get; set; }

    [Inject] NavigationManager Navigation { get; set; }

    private async void KeyboardEventHandler(KeyboardEventArgs args)
    {
        if (args.Key == "Enter")
            NavigateToTest();
    }
    
    private void NavigateToTest()
    {
        if (!string.IsNullOrWhiteSpace(TestId))
        {
            Navigation.NavigateTo($"test/{TestId}");
            TestId = "";
        }
    }

}