<nav class="navbar navbar-expand-lg" style="height: 40px; display: flex">
    <div class="container" style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
        <button style="border: none; background: none; padding: 0; cursor: pointer;" onclick="location.href='/game'">
            <img class="img-fluid my-5" style="max-width: 40px;" src="images/icon1.png" alt=""/>
        </button>
        <a class="navbar-brand" href="/my_tests" style="-webkit-text-fill-color: #DDE8FF; font-size: 24px; display: flex">FelineX</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="display: flex; align-items: center;">
                <li class="nav-item" style="-webkit-text-fill-color: #EFF4FF; font-size: 16px; display: flex;">
                    <NavLink class="nav-link" href="/my_tests">
                        Мои тесты
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/my-classes" style="font-size: 16px;">
                        Классы
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="/profile" style="font-size: 16px;">
                        Профиль
                    </NavLink>
                </li>
            </ul>
        </div>
        <div style="display: flex; justify-content: flex-end; align-items: center; width: 300px; gap: 5px;">
            <input type="text" @bind="TestId" placeholder="Введите id теста" @onkeydown="KeyboardEventHandler"
                   style="background-color: #EFF4FF; border-color: #BDD3FF; box-shadow: none; width: 200px;">
            <button @onclick="NavigateToTest" style="background-color: #EFF4FF; border-color: #BDD3FF;">Go</button>
        </div>
    </div>
</nav>

@code {
    private string TestId { get; set; }

    [Inject] NavigationManager Navigation { get; set; }

    private async void KeyboardEventHandler(KeyboardEventArgs args)
    {
        if (args.Key == "Enter")
            NavigateToTest();
    }
    
    private void NavigateToTest()
    {
        if (!string.IsNullOrWhiteSpace(TestId))
        {
            Navigation.NavigateTo($"test/{TestId}");
            TestId = "";
        }
    }

}