<ul class="nav">
    <li class="nav-item">
        <a class="nav-link" aria-disabled="true">
            <button style="border: none; background: none; padding: 0; cursor: pointer;" onclick="location.href='/game'">
                <img class="img-fluid my-5 logo" src="images/icon1.png" alt="" style="max-height: 40px"/>
            </button>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" aria-disabled="true" href="/" style="font-size: x-large">
            FelineX
        </a>
    </li>
</ul>
