@page "/result_test/{AnsweredTestId}/"

@using Microsoft.Extensions.Logging
@using Shared.Extensions
@using Shared.DB.Classes.Test.Task.TaskAnswer
@using WebAssembly.Services

@inject ApiService _ApiService
@inject ILogger<TestResult> _logger

<h3 class="text-center" style="-webkit-text-fill-color: #00003A;">Ваши результаты:</h3>
<h3 class="text-center" style="-webkit-text-fill-color: #00003A;">@TestAnswer.Score%</h3>
<div class="d-flex justify-content-center" style="min-height: 60px">
    <img src="@CatScoreString" alt="Фото">
</div>


@code {

    [Parameter] public string AnsweredTestId { get; set; }
    private TestAnswer? TestAnswer { get; set; } = new();
    private double CatScore { get; set; }
    private string CatScoreString { get; set; } = "";

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        try
        {
            TestAnswer = await _ApiService.GetTestResult(AnsweredTestId.ToGuid());
            if (TestAnswer != null)
            {
                CatScore = (int)Math.Floor(TestAnswer.Score / 10);
                CatScoreString = $"cats/{CatScore}.png";
            }
        }
        catch (Exception e)
        {
            _logger.LogError($"Exception while getting test results with id {AnsweredTestId}:{e}");
        }
    }
}